:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --dark-grey-color: #2f3032;
  --black-color: #212121;
  --footer-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--white-color);
  margin: 0;
}

.main-title {
  background-color: #2f3032;
  padding-top: 200px;
  height: 600px;
}

.team-section {
  background-color: #f5f4fa;
}

.section {
  width: auto;
  padding-top: 94p;
  padding-bottom: 94px;
}

.header-list {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.logo {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-decoration: none;
  border: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.black {
  color: var(--black-color);
}
.white {
  color: var(--white-color);
}

.nav-list {
  display: flex;
  margin-top: 32px;
  margin-left: 47px;
  box-sizing: border-box;
  flex-direction: row;
  list-style-type: none;
  gap: 46px;
  padding-left: 92px;
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue-color);
}

.contacts-list {
  display: flex;
  margin-top: 32px;
  gap: 50px;
  list-style-type: none;
  gap: 50px;
  padding-left: 372px;
}

.contacts-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  text-decoration: none;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--blue-color);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding-left: 280px;
  padding-right: 237px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
}

.portfolio-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 6px;
  justify-content: center;
}

.main-button {
  text-align: center;
}

.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
}

.articles h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.articles {
  display: flex;
  list-style-type: none;
  padding-top: 94px;
}

.articles p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: var(--grey-color);
}

.images-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

img {
  max-width: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03;
  color: var(--black-color);
  margin-top: 0;
}

.team-container {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03;
  color: var(--black-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-section {
  padding: 94px 30px;
  outline: 1px;
}
.content-section-portfolio {
  padding: 94px 30px;
  outline: 1px;
  outline: 1px solid #f5f4fa;
}
.team-image {
  width: "270";
  height: "368";
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  margin-left: 0;
  padding-right: 0;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(#2f3032);
  padding-top: 10px;
}

.footer-address {
  background-color: var(--dark-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.localization {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: var(--white-color);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style-type: none;
  padding-left: 0px;
}

.footer-contacts a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03;
  color: var(--footer-color);
  text-decoration: none;
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: var(--blue-color);
}

.filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--black-color);
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
}

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.portfolio-grid {
  flex-wrap: wrap;
}

.box-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.portfolio-images {
  border: 2px solid #eeeeee;
  background-color: var(--white-color);
  gap: 30px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.image-portfolio-title {
  padding-left: 24px;
}
