:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --dark-grey-color: #2f3032;
  --black-color: #212121;
  --footer-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--white-color);
}

.logo {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
  text-align: left;
  color: var(--blue-color);
  text-decoration: none;
}
.black {
  color: var(--black-color);
}
.white {
  color: var(--white-color);
}

.nav-list a {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 2%;
  color: var(--black-color);
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--blue-color);
}

.contacts-list a {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 2%;
  color: var(--grey-color);
  text-decoration: none;
}

.contacts-list a:hover {
  color: var(--blue-color);
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-align: center;
  color: var(--white-color);
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
}

.lorem-impsum-title {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
}

.lorem-ipsum {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--grey-color);
}

.subtitle {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--black-color);
}

.team {
  font-family: "Roboto";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--black-color);
}
.team a {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--grey-color);
}

footer {
  background-color: var(--dark-grey-color);
}

.location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--white-color);
}

.footer-contacts a {
  font-family: "Roboto";
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 3%;
  color: var(--footer-color);
  text-decoration: none;
}

.filter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--black-color);
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
}

.filter:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  line-height: 160%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--grey-color);
}
