:root {
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--white-color);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-align: center;
  color: var(--white-color);
  background-color: #2f303a;
}

.logo {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
  text-align: left;
}

a {
  color: var(--grey-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-list {
  color: var(--grey-color);
}
.nav-list-item {
  font-family: "Roboto";
  font-style: medium;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 2%;
  color: var(--grey-color);
}
.nav-list-item:hover {
  color: var(--blue-color);
}

.contact {
  color: var(--grey-color);
}

.contact-item {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba (255, 255, 255, 0, 6);
}

.contact-item:hover {
  color: var(--blue-color);
}

.black {
  color: black;
}
.blue {
  color: #2196f3;
}
.location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.location:hover {
  text-decoration: underline;
}
.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
}

.filter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 15);
  border: none;
}

.filter:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

h3 {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  line-height: 171%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 6%;
}

.image-title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  line-height: 160%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--grey-color);
}
